#port-theme-bttn {
    background-color: #0c3330 !important;
}

.bg-theme-hov button {
    background: none;
    background-color: #fde49a;
    color: #FECA2E;
    border: none;
    padding: 20px 0px;
    border-radius: 5px;
    font-weight: 600;
}

.bg-theme-hov button:hover {
    background-color: #FECA2E;
    color: white;
}

html body .tabs .nav-tabs .nav-link.active {
    color: #0c3330;
    background-color: #0c3330;
}

.mrc-lgo-f img {
    width: 150px;
    margin-top: -60px;
}